body {
    font-family: Arial;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background: white;
    padding: 30px;
    width: 350px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
      display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    width: 40%;
    flex: 1;
}

.input-group input {
    flex: 2;
    width: 55%;
    padding: 8px 10px;
}

.error {
    color: red;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #333;
}